.btn{
	i{
		font-weight: 600;
	}
	
	&:not([class*="btn-outline"]){
		border:none !important;
	}
}

.btn-white{
    color: $default-text-color;
    background-color: $white;
    border-color: $border-color;
}

.btn-primary-gradient{
	color: $white;
	background: $primary;
	background: linear-gradient(90deg, $primary 0%, darken($primary, 15%) 100%);
    border-color: $primary;
    transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    
    &:hover{
	    color:$white !important;
	    background: darken($primary, 5%) !important;
		background: linear-gradient(90deg,  darken($primary, 5%) 0%, darken($primary, 20%) 100%) !important;
    }
}

.btn-w-100{
	width: 100%;
}

.btn-mb-20{
	margin-bottom: 20px
}

.btn-icon-b{
	i{
		margin-right: 10px;
	}
}

.btn-icon-a{
	i{
		margin-left: 10px;
	}
}

.dropdown-item{
	cursor: pointer;
	transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}