/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $md-grey-400; 
}

*[contenteditable="true"]:focus{
/* 	outline: none; */
	outline-style: dashed;
	outline-color: rgb(220,220,220);
	outline-width: 2px;
	outline-offset: 5px;
}

.hidden{
	opacity: 0 !important;
	visibility: hidden !important;
	pointer-events: none !important;
}

.margin-icon{
	margin-right: 10px;
}

.pillbox{
	display: inline-block;
	text-align: center;
	color: $white;
	font-size: 12px;
	font-weight: 700;
	background: $md-grey-400;
	//background: linear-gradient(90deg, $primary 0%, darken($primary, 15%) 100%);
	border-radius: 20px;
	padding: 4px 10px;
	transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	
	&.pillbox-blue{
		background: $primary;
		//background: linear-gradient(90deg, $primary 0%, darken($primary, 15%) 100%);
	}
	
	&.pillbox-green{
		background: $default-success;
		//background: linear-gradient(90deg, $default-success 0%, darken($default-success, 15%) 100%);
	}
	
	&.pillbox-red{
		background: $default-danger;
		//background: linear-gradient(90deg, $default-danger 0%, darken($default-danger, 15%) 100%);
	}
	
	&.pillbox-orange{
		background: $default-warning;
		//background: linear-gradient(90deg, $default-warning 0%, darken($default-warning, 15%) 100%);
	}
}

.status-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	margin-right: 5px;
	
	&.status-icon-green{
		background-color: $default-success;
	}
	
	&.status-icon-red{
		background-color: $default-danger;
	}
	
	&.status-icon-orange{
		background-color: $default-warning;
	}
}

.text-subinfo{
	color: $md-grey-400;
	font-size: 12px;
	line-height: 18px;
}

.text-muted{
	color: $md-grey-400 !important;
}

.text-body{
	color: $default-text-color !important;
}

.action-bar{
	.col-6:nth-child(2){
		text-align: right;
	}
}

.box-shadow{
	box-shadow: 0px 32px 32px 0px rgba(34, 61, 80, 0.05), 0px 16px 16px 0px rgba(34, 61, 80, 0.05), 0px 8px 8px 0px rgba(34, 61, 80, 0.05), 0px 4px 4px 0px rgba(34, 61, 80, 0.05), 0px 2px 2px 0px rgba(34, 61, 80, 0.05);
}

.overflow-visible{
	overflow: visible !important;
}

.placeholder-avatar{
	position: relative;
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 50px;
	background-color: $border-color;
	overflow: hidden;
	i{
		display: block;
		position: absolute;
		top: 65%;
		font-size: 27px !important;
		-webkit-transform: translateY(-50%); 
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		right: 0;
		left: 0;
		margin:0 auto;
		color: $grey-500;
		text-align: center;
	}
}

#section-builder{
	&.hidden{
		display: none;
	}
}

#section-list{
	&.hidden{
		display: none;
	}
}

.peanut-jar{
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 220px;
	position: relative;
	margin-top: 20px;
	
	@keyframes float {
		0% {
			transform: translatey(0px);
		}
		50% {
			transform: translatey(-20px);
		}
		100% {
			transform: translatey(0px);
		}
	}
	
	@keyframes floatShadow {
		0% {
			width: 100px;
			height: 100px;
			opacity: 0.6;
			-webkit-filter: blur(4px);
			-webkit-transform: scale(1, 0.2);
		}
		50% {
			width: 80px;
			height: 80px;
			bottom: 10px;
			opacity: 0.4;
			-webkit-filter: blur(10px);
			-webkit-transform: scale(1, 0.2);
			
		}
		100% {
			width: 100px;
			height: 100px;
			opacity: 0.6;
			-webkit-filter: blur(4px);
			-webkit-transform: scale(1, 0.2);
		}
	}
	
	img{
		position: relative;
		z-index: 1;
		display: block;
		margin: 0 auto;
		width: 100px;
		animation: float 6s ease-in-out infinite;
	}
	
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom:0px;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 50%;
	    background: #bcbcbc;
	    animation: floatShadow 6s ease-in-out infinite;
	}
}

.settings-group{
	.settings-link{
		position: relative;
		i{
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%); 
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			display: inline-block;
			right: 0;
			transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		}
	}
	
	.settings-inputs{
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		height: 0px;
		overflow: hidden;
		transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	}
	
	&.active{
		.settings-link{
			i{
				top: 25%;
				transform: rotate(-90deg);
			}
		}
		
		.settings-inputs{
			margin-top: 20px;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			height: inherit;
			overflow: inherit;
		}
	}	
}

.settings-link{
	cursor: pointer;
	transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	&:hover{
		opacity: 0.7;
	}
}

// FULL CALENDAR
.fc-today .fc-day-number{ font-weight: 800; }
.fc-sat { background-color: $grey-100; }
.fc-sun { background-color: $grey-100; }