.item-list{
	
}

.item{
	
	
	.item-inner{
		overflow: hidden;
		border:$border-width solid $border-color;
		border-radius: 7px;
		margin-bottom: 30px;
	}
	
	.item-image{
		position: relative;
		background-color: $border-color;
		width: calc(100% - 10px);
		height: 200px;
		text-align: center;
		margin: 5px;
		border-radius: $border-radius;
		overflow: hidden;
		img{
			width: 100%;
			min-height: 100%;
			height: auto;
			object-fit: cover;
			display: block;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%); 
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 0;
			left: 0;
			margin:0 auto;
		}
		
		span{
			color: $grey-500;
			font-size: 55px;
			display: block;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%); 
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 0;
			left: 0;
			margin:0 auto;
		}
	}
	
	.item-status{
		display: inline-block;
	    background-color: $white;
	    padding: 5px 10px;
	    border-radius: 5px;
	    position: absolute;
	    top: 10px;
	    right: 10px;
	}
	
	.item-text{
		width: 100%;
		display: inline-block;
		padding: 5px;
		padding-bottom: 10px;
		
		p{
			width: 100%;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
		}
	}
	
	.item-actions{
		font-size: 0;
		a, form{
			display: inline-block;
			width: calc(50% - 0.1px);
			text-align: center;
			font-weight: 600;
			font-size: 18px;
		}
		
		a{
			padding: 10px;
			color: $white;
			background-color: $default-warning;
			transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			&:hover{
				background-color: darken($default-warning, 5%);
			}
		}
		
		button{
			width: 100%;
			padding: 10px;
			color: $white;
			background-color: $default-danger;
			cursor: pointer;
			border:none;
			transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			&:hover{
				background-color: darken($default-danger, 10%);
			}
		}
	}
}

#list-noresult{
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	font-weight: 600;
}