.table-container{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

table{
	
	tr, th, td{
		border-color: $border-color !important;
	}
	
	thead{
		th{
			vertical-align: middle !important;
		}
	}
	
	tr{
		transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		
		td{
			position: relative;
		}
		
		&.head{
			background-color: rgba(0, 0, 0, 0.08) !important;
		}
		
		.handle{
			margin-right: 10px;
			cursor: pointer;
			opacity: 0.2;
			transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
			-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		}
		
		&:hover{
			.handle{
				opacity: 1;
			}
		}
	}
	
	.list-inline{
		text-align: right;
	}
}

.table-menu{
	tr:not(.head){
		
		.handle{
			margin-right: 10px;
		}
		
		&[data-level="1"] td:nth-child(1){
			a{
				margin-left: 15px;	
			}
		}
		
		&[data-level="2"] td:nth-child(1){
			a{
				margin-left: 30px;
				&:before{
					content: "- ";
				}	
			}
		}
		
		&[data-level="3"] td:nth-child(1){
			a{
				margin-left: 45px;
				&:before{
					content: "-- ";
				}	
			}
		}	
	}
}

.table-accordion{
	p{
		margin-bottom: 0;
	}
	
	.hidden{
		display: none;
	}
	
	b, .arrow{
		cursor: pointer;
	}
	
	.arrow{
		display: block;
		transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
		&.active{
			-moz-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
	}
	
	tr[data-level="2"] td:nth-child(1){
		p,b{
			margin-left: 30px;
		}
	}
	
	tr[data-level="3"] td:nth-child(1){
		p,b{
			margin-left: 45px;
		}
	}
}

.table{
	border-bottom-width: 0;	
	tr{
		th, td{
			border-width: $border-width;
			border-top-width: 0px;
			border-right-width: 0px;
			
			&:last-child{
				border-right-width: $border-width;
			}
		}
		
		&:last-child{
			th{
				border-bottom-width: 0px;
			}
		}
	}
	
	tbody + tfoot{
		tr:first-child{
			td{
				border-top-width: 0px !important;
			}
		}
	}
}

.table-bordered{
	//border-bottom-width: $border-width !important;
	:first-child > :first-child > td, :first-child > :first-child > th{
		border-top-width: $border-width;
	}
	
	tr,td,th{
		border-color: $border-color;
	}
	
	thead{
		tr{
			th{
				border-bottom-width: $border-width !important;
			}
		}
	}
	
}

.table-rounded{
	border-radius: $border-radius;
	border-collapse: separate;
	border-width: 0;
	
	thead{
		tr:first-child{
			th:first-child {
				border-top-left-radius: $border-radius;
			}
			th:last-child {
				border-top-right-radius: $border-radius;
			}
		}
	}
	
	tbody{
		tr:not(#table-form-template):first-child, tr#table-form-template + tr{
			td:first-child {
				border-top-left-radius: $border-radius;
			}
			td:last-child {
				border-top-right-radius: $border-radius;
			}
		}
	}
	
	thead + tbody{
		tr:not(#table-form-template):first-child, tr#table-form-template + tr{
			td:first-child {
				border-top-left-radius: 0;
			}
			td:last-child {
				border-top-right-radius: 0;
			}
		}
	}
	
	:last-child > :last-child > :first-child {
		border-bottom-left-radius: $border-radius;
	}
	:last-child > :last-child > :last-child {
		border-bottom-right-radius: $border-radius;
	}
}

.table-form{
	.form-group{
		margin-bottom: 0 !important;
	}
}

.table-card-filter{
	.hidden{
		display: none;
	}
}

.card-filter{
	cursor: pointer;
	transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition:all 0.75s cubic-bezier(0.23, 1, 0.32, 1);
	
	&:hover{
		background-color: $md-grey-100 !important;
	}
	
	.pillbox{
		margin-left: 5px;
	}
	
	&.active{
		color: $white;
		background: $primary;
		background: linear-gradient(90deg, $primary 0%, darken($primary, 15%) 100%);
		border-right:none !important;
		border-left:none !important;
		width: calc(100% - 4px);
		
		.pillbox{
			background-color: $white;
			color: $primary;
		}
	}
}

.bootstrap-datetimepicker-widget{
	tr{
		td:first-child {
			border-top-left-radius: $border-radius !important;
		}
		td:last-child {
			border-top-right-radius: $border-radius !important;
		}
	}
	
	td{
		border:none !important;
	}
}

.table-tagsinput{
	
	//the nth count starts +1 bc of template row
	tr:nth-child(2) .tag{
		background-color: var(--purple);
	}
	
	tr:nth-child(3) .tag{
		background-color: var(--primary);
	}
	
	tr:nth-child(4) .tag{
		background-color: var(--teal);
	}
	
	tr:nth-child(5) .tag{
		background-color: var(--pink);
	}
	
	tr:nth-child(6) .tag{
		background-color: var(--green);
	}
	
	tr:nth-child(7) .tag{
		background-color: var(--indigo);
	}
} 

.table-variants{
	tbody{
		td{
			span{
				//display: block;
			}
		}
		
		td:nth-child(1){
			span:nth-child(1){
				color: var(--purple);
			}
			
			span:nth-child(2){
				color: var(--primary);
			}
			
			span:nth-child(3){
				color: var(--teal);
			}
			
			span:nth-child(4){
				color: var(--pink);
			}
			
			span:nth-child(5){
				color: var(--green);
			}
			
			span:nth-child(6){
				color: var(--indigo);
			}
		}
	}
} 