/* MAIN COLORS */

$primary: #34BFCE;
$secondary: #0D1D2D;

$body-color: rgba(255,255,255,1);

$light-grey: #dedede; //#E6E7E8
$grey: #B7BCC0;

/* FONT COLORS */
$body-color: $secondary;
$body-color-light: $light-grey;

$alert-color: rgba(232,46,96,1);

/* MISC COLORS */
$border-color: $light-grey;

$succes-color: rgba(138,155,15,1);
$warning-color: rgba(233,127,2,1);
$error-color: $alert-color;
$google-color: rgba(220,78,65,1);
$fb-color: rgba(59,89,152,1);
$white: rgba(255,255,255,1);
    